 body {
   text-align: center;
 }

 form,
 input[type=submit] {
   margin-top: 10px;
 }

 input#new-event {
   margin-top: 0;
   border: 0;
   padding: 4px 15px;
 }

 .alert {
   width: 40%;
   margin: 10px auto;
 }

 #edit-event,
 #delete-event,
 #join-event,
 #cancel-event {
   padding: 4px 15px;
   border: 0;
 }

 #add-event {
   padding: 5px 15px;
   border: 0;
 }

 .upper {
   margin-top: 20px;
 }

 #login,
 #registration {
   margin-top: 15px;
 }

 #logout,
 #calendar-view,
 #list-view,
 #personal,
 #go-to-events {
   margin: 10px 0 10px;
   background-color: var(--bs-blue);
   border: 0;
   padding: 5px 15px;
   border-radius: var(--bs-btn-border-radius);
   color: var(--bs-white);
   text-decoration: none;
 }

 .custom-modal-header {
   padding: 10px;
 }

 .custom-modal-body {
   padding-top: 0;
 }

 #paginator {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .center-heading {
   margin-top: 40vh;
 }

 .white-link,
 .white-link:hover {
   color: var(--bs-white);
   text-decoration: none;
 }

 /* calendar */

 table.calendar-nav {
   margin-bottom: 0;
   background-color: var(--bs-table-bg);
 }

 .calendar-body>thead>tr>th {
   color: var(--bs-orange);
 }

 .calendar-nav>thead>tr>th>a {
   font-size: 1.4rem;
   color: var(--bs-orange);
   text-decoration: none;
 }

 th>a:hover {
   color: var(--bs-white);
 }

 .single-day {
   text-decoration: none;
   color: var(--bs-white);
 }

 .single-day:hover {
   color: var(--bs-orange);
 }

 .calendar-nav,
 .calendar-body {
   min-width: 320px;
   max-width: 400px;
   margin: 0 auto;
 }

 .calendar-nav {
   margin-top: 20px;
 }

 .calendar-body {
   margin-bottom: 30px;
 }

 .table-content {
   margin-top: 20px;
 }

 td.this-day {
   background-color: var(--bs-orange);
 }
