body {
	font-family: "Manrope", "Tahoma", sans-serif;
	background-color: black;
	color: beige;
}

header {
	text-align: center;
	padding: 2rem 0 0.5rem 0;
	width: 100%;
}
/*
#tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0.5rem 0 0.5rem 0;
}*/

aside {
	padding-left: 1rem;
}

main {
	border-top: 1px solid lime;
	border-bottom: 1px solid lime;
}

footer {
    padding: 1rem 1rem 3rem 1rem;
    width: 100%;
}

figure {
	text-align: center;
}

.thumb {
	height: 280px;
	object-fit: cover;
}


/* media */
@media screen and (max-width: 1920px) {
	main {
		/*padding: 0.5rem 3rem 0.5rem 3rem;*/
		padding: 1rem 3rem 1rem 3rem;
	}
}

@media screen and (max-width: 1440px) {
	main {
		padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	}
}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 1.1em;
	}
}