# редакторы
.idea/
*.sublime-project
*.sublime-worspace

# каталоги для выходных данных сборки
./bin
./out
./target

#файлы, сгенерированные во время выполнения
.log
.lock
.tmp;

# Windows system files
Thumbs.db

# MySQL Workbench
*.mwb

# Diagram software
*.drawio

#
db.inc.php