# Среда разработки
.idea/
*.sublime-project
*.sublime-worspace

# Каталоги для выходных данных сборки
./bin
./out
./target

# Файлы, сгенерированные во время выполнения
*.log
*.lock
*.tmp

# Windows system files
Thumbs.db

# MySQL Workbench
*.mwb

# Diagram software
*.drawio

# Папка с дампами MySQL
/data/mysql/**
!/data/mysql/.gitkeep


