.button {
	width: 180px;
	height: 62px;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	color: #FFFFFF;
	background-color: transparent;
	font-family: $font-family-Manrope;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	position: relative;
	padding-right: 22px;

}

.button::after {
	content: "\2192";
	width:22px;
	height: 14px;
	color: #8C30F5;
	display: block;
	position:absolute;
	font-size: 32px;
    left: 145px;
    top: 15px;
}
