.features-item {
	background: #FFFFFF;
	width: 350px;
	height: 346px;
	border-radius: 8px;
	text-align: left;
	padding: 40px 32px;
	margin: 30px auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	svg {
		width: 32x;
		height: 32px;
	}
	&__title {
		font-family: $font-family-Manrope;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		margin-right: 12px;
	}
	&__description {
		font-family: $font-family-Manrope;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
	}
	&__link {
		position: relative;
	}

	&__link::after {
		content: "\2192";
		width:15px;
		height: 11px;
		color: #8C30F5;
		display: block;
		position:absolute;
		left: 60px;
  		top: 2px;
	}
}
