body {
	font-family: "Nunito", "Tahoma", sans-serif;
	background-color: #f8f9fa;
}

.dropdown-menu {
    min-width: 15rem;
}

main {
	background-color: beige;
	border-top: 1px solid lime;
	border-bottom: 1px solid lime;
	padding: 1.5rem;
}

footer {
    padding: 1rem 1rem 3rem 1rem;
}

figure {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
}
