[mysql]

host     = localhost
port     = 3306
db       = my-project
username = my-username
password = my-password

[pepper]

secret = my-secret-word

[debug]

enabled = true

[registration]

enabled = true

[limit]

limit = 8
