<div class="mt-4 mb-2">
    <ul class="nav flex-column">
        <li>
            <img src="../../../fyb-content/bootstrap/icons/folder-fill.svg" alt="Bootstrap" width="15" height="15">
            fyb-apps - модули приложений
        </li>
        <ul>
            <li>
                <img src="../../../fyb-content/bootstrap/icons/folder.svg" alt="Bootstrap" width="15" height="15">
                dummy - типовой шаблон модуля приложения
            </li>
            <ul>
                <li>
                    <img src="../../../fyb-content/bootstrap/icons/folder.svg" alt="Bootstrap" width="15" height="15">
                    config - конфигурационные файлы модуля приложения
                </li>
                <li>
                    <img src="../../../fyb-content/bootstrap/icons/folder.svg" alt="Bootstrap" width="15" height="15">
                    templates - HTML-шаблоны модуля приложения, если существуют, то перезаписывают базовые шаблоны
                </li>
                <ul>
                        <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                        container.sidebar.html - шаблон боковой панели модуля приложения
                    </li>
                    <li>
                        <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                        container.main.html - шаблон основного содержимого модуля приложения
                    </li>
                </ul>
                <li>
                    <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                    index.php - диспетчер запросов модуля приложения
                </li>
            </ul>
        </ul>
        <li>
            <img src="../../../fyb-content/bootstrap/icons/folder-fill.svg" alt="Bootstrap" width="15" height="15">
            fyb-config - системные конфигурационные файлы
        </li>
        <ul>
            <li>
                <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                db.config.php - параметры подключения к базе данных
            </li>
            <li>
                <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                variables.php - различные переменные
            </li>
        </ul>
        <li>
            <img src="../../../fyb-content/bootstrap/icons/folder-fill.svg" alt="Bootstrap" width="15" height="15">
            fyb-content - css-стили, bootstrap, шаблоны, изображения, содержимое, подключаемые на страницах разных приложений
        </li>
        <ul>
            <li>
                <img src="../../../fyb-content/bootstrap/icons/folder.svg" alt="Bootstrap" width="15" height="15">
                config - конфигурационные файлы приложения
            </li>
            <li>
                <img src="../../../fyb-content/bootstrap/icons/folder.svg" alt="Bootstrap" width="15" height="15">
                templates - базовые HTML-шаблоны приложения
            </li>
            <ul>
                <li>
                    <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                    main.head.html - базовый шаблон шапки сайта
                </li>
                <li>
                    <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                    main.navbar.html - базовый шаблон верхней панели</li>
                <li>
                    <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                    main.container.sidebar.html - базовый шаблон боковой панели</li>
                <li>
                    <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                    main.container.main.html - базовый шаблон основного содержимого</li>
                <li>
                    <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                    main.footer.html - базовый шаблон подвала сайта</li>
            </ul>
        </ul>
        <li>
            <img src="../../../fyb-content/bootstrap/icons/folder-fill.svg" alt="Bootstrap" width="15" height="15">
            fyb-data - файлы, необходимые для работы приложений
        </li>
        <li>
            <img src="../../../fyb-content/bootstrap/icons/folder-fill.svg" alt="Bootstrap" width="15" height="15">
            fyb-system - файлы с основным PHP кодом, подключаемым на страницах разных приложений
        </li>
        <ul>
            <li>
                <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                db.connect.php - определяет основное поведение подключений к базе данных
            </li>
            <li>
                <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
                functions.php - основные функции приложения
            </li>
        </ul>
        <li>
            <img src="../../../fyb-content/bootstrap/icons/filetype-php.svg" alt="Bootstrap" width="15" height="15">
            index.php - основной диспетчер запросов приложения
        </li>
    </ul>










</div>