header.header
	.container
		.row
			.col-lg-6.col-md-3.col-sm-2.col-6
				span.logo Gravity
			.col-md-3.col-sm-4.col-6.d-none.d-md-block
				nav.main-nav
					ul.main-nav-list
						li.main-nav-list__item
							a.main-nav-list__link(href='google.com') Home
						li.main-nav-list__item
							a.main-nav-list__link(href='google.com') Contacts
			.col-md-6.col-lg-3.col-6.col-sm-10.d-flex.justify-content-end
				a.burger-menu(href="#")
					+svg("menu-Icon")
