main
	section.home
		.container
			.row
				.col-md-6.d-flex.flex-column.order-md-1.order-2
					.row
						.col-12
							.content
								span.content__sub-title Shooting Stars
								h1.content__title Pictures In The Sky
								p.content__text
								|Many people has the notion that enlightenment is one state.
								|Many also believe that when it is attained, a person is forever in that state.
					.row
						.col-lg-4.col-6
							button(type="button").btn get started
						.col-lg-4.col-6
							.socilal-icons-box
								+svg('twitter')
								+svg('linkedin')
								+svg('google')
				.col-md-6.order-md-2.order-1.d-flex.justify-content-center.justify-content-md-end
					.image-box
						img(src='./images/placeholder.png')

