.home
	.container
		h1.features__title Services that connect you to your users
		.features
			.features-item
				+svg("mobile")
				h2.features-item__title Mobile Application
				p.features-item__description Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
				a.features-item__link Explore
			.features-item
				+svg("web")
				h2.features-item__title User Interface Design
				p.features-item__description Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
				a.features-item__link Explore
			.features-item
				+svg("user")
				h2.features-item__title Strategy and Branding
				p.features-item__description Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
				a.features-item__link Explore
			.features-item
				+svg("strategy")
				h2.features-item__title Performance Marketing
				p.features-item__description Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
				a.features-item__link Explore
			.features-item
				+svg("perfomance")
				h2.features-item__title Project Management
				p.features-item__description Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
				a.features-item__link Explore
			.features-item
				+svg("project")
				h2.features-item__title Project Management
				p.features-item__description Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
				a.features-item__link Explore
		button.button Explore all
