
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading text-muted" href="?module=home">
                            Домашняя
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading text-muted" href="?module=phobook">
                            Телефонный справочник
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading text-muted" href="#">
                            Оборудование
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading text-muted" href="#">
                            Ремонт ПТС
                        </a>
                    </li>
                    <li><hr></li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading active" href="#">
                            Аналитика
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-JointTask" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Групповые задачи
                        </a>
                     
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-Report" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Отчётная документация
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-Report">
                            <a class="dropdown-item" href="#">Отчёт восстановление</a>
                            <a class="dropdown-item" href="#">Отчёт по ТО</a>
                            <a class="dropdown-item" href="#">Обновление ДК</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Сводная информация
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">По заявкам в работе</a>
                            <a class="dropdown-item" href="#">На проверке у ОА</a>
                            <a class="dropdown-item" href="#">На проверке в ИАЦ</a>
                            <a class="dropdown-item" href="#">Закрытие ЦСТП</a>
                            <a class="dropdown-item" href="#">На доработке у инженеров</a>
                            <a class="dropdown-item" href="#">По задачам</a>
                            <a class="dropdown-item" href="#">По объектам автоматизации</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Сведения об актуальности</a>
                            <a class="dropdown-item" href="#">Архив закрытых заявок</a>
                            <a class="dropdown-item" href="#">Облако тэгов, ярлыки</a>
                        </div>
                    </li>
                    <li><hr></li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading text-muted" href="#">
                            Консультации
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading text-muted" href="#">
                            Безопасность
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading text-muted" href="#">
                            Документооборот
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-heading text-muted" href="#">
                            Настройки
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        