
<div class="d-flex justify-content-center">
    <form action="/parser.php" method="post" enctype="multipart/form-data">
        <div class="form-group pt-4">
            <input type="hidden" name="MAX_FILE_SIZE" value="6000000">
            <label for="uploadImageFormControl" class="text-danger">
                {{form_error}}
            </label>
            <input class="form-control-file" type="file" name="upload" id="uploadImageFormControl">
            <label for="uploadImageFormControl" class="font-italic text-info">
                <small>jpg-файл не более 6 Мб</small>
            </label>
        </div>
        <div class="form-group">
            <input type="hidden" name="_csrf_token" value="{{csrf_token}}">
            <input class="form-control" type="submit" name="submit_upload" id="submitUpload">
        </div>
    </form>
</div>
