<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="mt-4 mb-2">
        <button type="button" class="btn btn-secondary">Полный отчёт</button>
        <button type="button" class="btn btn-secondary">Только Краснодар</button>
    </div>
    <h2>Заявки в работе, кроме ремонтов</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Заявка</th>
                <th>ЦСТП</th>
                <th>Объект автоматизации</th>
                <th>Суть обращения</th>
                <th>Инженер</th>
                <th>Дней в работе</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>4</td>
                <td>%SUMMARY%</td>
                <td>%TEXT%</td>
                <td>Краснодарский гарнизонный военный суд</td>
                <td>Ремонт</td>
                <td>Тышковская Рената Геннадьевна</td>
                <td>79</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
