
{# Шаблон отображения сообщения об ошибке 404 #}

{% extends 'base.twig' %}

{% block main_content %}
    <div class="container">
        <div class="d-flex justify-content-center py-4">
            <div class="alert-danger text-center w-50 py-5">
                <h4>Ошибка 404</h4>
                <p>Страница не существует!</p>
            </div>
        </div>
    </div>
{% endblock %}
