{% extends 'base.twig' %}

{% block main_content %}
    <div class="container-fluid">
        <h4>Главная страница</h4>
    </div>
{% endblock %}

{# 
{% block twig_debug_dump %}
    {{ dump(page) }}
{% endblock %}
#}
