{% extends 'base.twig' %}

{% block main_content %}
    <div class="container-fluid pl-0">
        <img src="/images/zaglushka.jpg" height="567">
    </div>
{% endblock %}

{# 
{% block twig_debug_dump %}
    {{ dump(page) }}
{% endblock %}
#}
