{% extends 'base.twig' %}

{% block main_content %}
    <div class="container-fluid d-flex justify-content-center">
        <iframe srcdoc="{{phpinfo}}" width="80%" height="700">phpinfo</iframe>
    </div>
{% endblock %}
